<a href="https://colab.research.google.com/github/Angepira/AngePira.github.io/blob/main/Clase_22_y_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Extracción y data wrangling

### Indexación Jerárquica

In [ ]:
import pandas as pd

In [ ]:
# Crear un diccionario
data = {'Venta': [100, 200, 150, 250, 180, 220],
        'Gastos': [50, 70, 60, 80, 55, 75]}

In [ ]:
data

{'Venta': [100, 200, 150, 250, 180, 220], 'Gastos': [50, 70, 60, 80, 55, 75]}

In [ ]:
# Crear el índice
index = pd.MultiIndex.from_tuples([('A', '2020'), ('A', '2021'), ('B', '2020'), ('B', '2021'), ('C', '2020'), ('C', '2021')],
                                  names=['Grupo', 'Año'])

In [ ]:
index

MultiIndex([('A', '2020'),
            ('A', '2021'),
            ('B', '2020'),
            ('B', '2021'),
            ('C', '2020'),
            ('C', '2021')],
           names=['Grupo', 'Año'])

In [ ]:
# Crear un DataFrame con indexación jerárquica
df = pd.DataFrame(data, index=index)

# Mostrar el DataFrame con indexación jerárquica
print(df)

            Venta  Gastos
Grupo Año
A     2020    100      50
      2021    200      70
B     2020    150      60
      2021    250      80
C     2020    180      55
      2021    220      75

In [ ]:
import random
import numpy as np

In [ ]:
data = pd.Series(np.random.rand(9))

In [ ]:
data

0    0.451078
1    0.004140
2    0.202707
3    0.397035
4    0.940316
5    0.685748
6    0.870562
7    0.221374
8    0.328621
dtype: float64

In [ ]:
col_1 = ['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd']
col_2 = ['1', '2', '3', '1', '3', '1', '2', '2', '3']

In [ ]:
data = pd.Series(np.random.rand(9), index=[col_1,col_2])
data

a  1    0.611662
   2    0.838271
   3    0.917014
b  1    0.873949
   3    0.560901
c  1    0.560781
   2    0.128003
d  2    0.181285
   3    0.343642
dtype: float64

In [ ]:
data.index

MultiIndex([('a', '1'),
            ('a', '2'),
            ('a', '3'),
            ('b', '1'),
            ('b', '3'),
            ('c', '1'),
            ('c', '2'),
            ('d', '2'),
            ('d', '3')],
           )

In [ ]:
data['b']

1    0.873949
3    0.560901
dtype: float64

In [ ]:
data[('b','1')]

0.873948897648242

In [ ]:
data['b':'d']

b  1    0.873949
   3    0.560901
c  1    0.560781
   2    0.128003
d  2    0.181285
   3    0.343642
dtype: float64

In [ ]:
data.loc['b':'d']

b  1    0.873949
   3    0.560901
c  1    0.560781
   2    0.128003
d  2    0.181285
   3    0.343642
dtype: float64

In [ ]:
df

            Venta  Gastos
Grupo Año
A     2020    100      50
      2021    200      70
B     2020    150      60
      2021    250      80
C     2020    180      55
      2021    220      75

Reorganizando los datos de un dataframe a través de la indexación jerárquica

In [ ]:
df.unstack()

      Venta      Gastos
Año    2020 2021   2020 2021
Grupo
A       100  200     50   70
B       150  250     60   80
C       180  220     55   75