<a href="https://colab.research.google.com/github/Angepira/AngePira.github.io/blob/main/Clase_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Recuperar y procesar los datos almacenados

En este notebook vamos a aprender a:
- Explorar los dataframes 
- Leer y guardar archivos con ayuda de las liberías pandas y numpy

## Leyendo y guardando archivos

### Numpy

**Leer archivos CSV**

In [ ]:
#Importamos librerías
from numpy import genfromtxt
import numpy as np

In [ ]:
#Cargamos el archivo desde link
#El archivo se llama "demo.csv"
url = "https://drive.google.com/file/d/1ODn7yvHW6QT-STxTMNbG7Agyt2gN2VJo/view?usp=sharing"
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]

In [ ]:
#Abrimos el archivo con numpy y lo imprimimos
product_data = genfromtxt(path, delimiter=',')
print(product_data)

[[14. 32. 33.]
 [24. 45. 26.]
 [27. 38. 39.]]

In [ ]:
#Si no lo imprimmos lo muestra como un array de numpy
product_data

array([[14., 32., 33.],
       [24., 45., 26.],
       [27., 38., 39.]])

¿Puedo leer archivos de csv que tenga strings con numpy?

**Escribir archivos CSV**

In [ ]:
#Creo un array
sample_array = np.asarray([ [1,2,3], [4,5,6], [7,8,9] ])
sample_array

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
#Guardamos el array como csv
np.savetxt("my_first_demo_numpy.csv", sample_array, delimiter=",")

### Pandas

#### CSV

**Leyendo archivos CSV**

In [ ]:
#Tomamos el mismo path de arriba
#El archivo se llama "demo.csv"
path

'https://drive.google.com/uc?export=download&id=1ODn7yvHW6QT-STxTMNbG7Agyt2gN2VJo'

In [ ]:
#importamos la librería
import pandas as pd

In [ ]:
sample_df = pd.read_csv(path)
sample_df

   14  32  33
0  24  45  26
1  27  38  39

In [ ]:
sample_df = pd.read_csv(path, sep=',',header=None)
sample_df.head()

    0   1   2
0  14  32  33
1  24  45  26
2  27  38  39

**Escribiendo archivos CSV**

In [ ]:
sample_df.to_csv('demo_sample_df_pandas.csv')

#### Excel

Leyendo datos

In [ ]:
#Cargamos el archivo desde link
#El archivo se llama 'employee.xlsx'
url2 = "https://docs.google.com/spreadsheets/d/1wluZRQBbRPaX5u1omZbcaUizMjB6TC5T/edit?usp=share_link&ouid=102253785812570814884&rtpof=true&sd=true"
path2 = 'https://drive.google.com/uc?export=download&id='+url2.split('/')[-2]

In [ ]:
pd.read_excel(path2)

            name   age   income gender  department grade
0    Allen Smith  45.0      NaN    NaN  Operations    G3
1        S Kumar   NaN  16000.0      F     Finance    G0
2    Jack Morgan  32.0  35000.0      M     Finance    G2
3      Ying Chin  45.0  65000.0      F       Sales    G3
4  Dheeraj Patel  30.0  42000.0      F  Operations    G2
5  Satyam Sharma   NaN  62000.0    NaN       Sales    G3
6   James Authur  54.0      NaN      F  Operations    G3
7     Josh Wills  54.0  52000.0      F     Finance    G3
8       Leo Duck  23.0  98000.0      M       Sales    G4

In [ ]:
emp_df = pd.read_excel(path2, sheet_name='performance')
emp_df

            name  performance_score
0    Allen Smith                723
1        S Kumar                520
2    Jack Morgan                674
3      Ying Chin                556
4  Dheeraj Patel                711
5  Satyam Sharma                649
6   James Authur                 53
7     Josh Wills                901
8       Leo Duck                709

**Escribiendo datos**

In [ ]:
with pd.ExcelWriter('new_employee_details.xlsx') as writer:
  emp_df.to_excel(writer, sheet_name='employee')
  emp_df.to_excel(writer, sheet_name='performance')

#### JSON

**Leyendo datos**

In [ ]:
#Cargamos el archivo desde link
#El archivo se llama 'employee.json'
url3 = "https://drive.google.com/file/d/16bEvPX-QmHqNsuz1zCibWaeRYsHn2-6N/view?usp=sharing"
path3 = 'https://drive.google.com/uc?export=download&id='+url3.split('/')[-2]

In [ ]:
df = pd.read_json(path3)
df

            name   age   income gender  department grade
0    Allen Smith  45.0      NaN   None  Operations    G3
1        S Kumar   NaN  16000.0      F     Finance    G0
2    Jack Morgan  32.0  35000.0      M     Finance    G2
3      Ying Chin  45.0  65000.0      F       Sales    G3
4  Dheeraj Patel  30.0  42000.0      F  Operations    G2
5  Satyam Sharma   NaN  62000.0   None       Sales    G3
6   James Authur  54.0      NaN      F  Operations    G3
7     Josh Wills  54.0  52000.0      F     Finance    G3
8       Leo Duck  23.0  98000.0      M       Sales    G4

**Escribiendo datos**

In [ ]:
df.to_json('employee_demo.json', orient="columns")

#### HTML

**Leyendo datos**

In [ ]:
table_url = 'https://en.wikipedia.org/wiki/List_of_sovereign_states_and_dependent_territories_in_North_America'
table_url

'https://en.wikipedia.org/wiki/List_of_sovereign_states_and_dependent_territories_in_North_America'

In [ ]:
df_list = pd.read_html(table_url)
df_list[:1]

[    Flag  Map  English short, formal names, and ISO [1][2][3][4]  \
 0    NaN  NaN                       Antigua and Barbuda[n 1] ATG
 1    NaN  NaN  Bahamas, The[n 1] Commonwealth of The Bahamas BHS
 2    NaN  NaN                                  Barbados[n 1] BRB
 3    NaN  NaN                               Belize[n 1][n 2] BLZ
 4    NaN  NaN                                    Canada[n 3] CAN
 5    NaN  NaN         Costa Rica[n 2] Republic of Costa Rica CRI
 6    NaN  NaN                          Cuba Republic of Cuba CUB
 7    NaN  NaN         Dominica[n 1] Commonwealth of Dominica DMA
 8    NaN  NaN                        Dominican Republic[n 2] DOM
 9    NaN  NaN       El Salvador[n 2] Republic of El Salvador SLV
 10   NaN  NaN                                   Grenada[n 1] GRD
 11   NaN  NaN           Guatemala[n 2] Republic of Guatemala GTM
 12   NaN  NaN                   Haiti[n 1] Republic of Haiti HTI
 13   NaN  NaN             Honduras[n 2] Republic of Honduras HND
 14   NaN  NaN                                   Jamaica[n 1] JAM
 15   NaN  NaN              Mexico[n 3] United Mexican States MEX
 16   NaN  NaN           Nicaragua[n 2] Republic of Nicaragua NIC
 17   NaN  NaN                 Panama[n 2] Republic of Panama PAN
 18   NaN  NaN  Saint Kitts and Nevis[n 1] Federation of Saint...
 19   NaN  NaN                               Saint Lucia[n 1] LCA
 20   NaN  NaN          Saint Vincent and the Grenadines[n 1] VCT
 21   NaN  NaN  Trinidad and Tobago[n 1] Republic of Trinidad ...
 22   NaN  NaN    United States[n 3] United States of America USA

              Domestic short and formal name(s) [1][2] Capital [3][5][6]  \
 0                        English: Antigua and Barbuda        St. John's
 1    English: The Bahamas—Commonwealth of The Bahamas            Nassau
 2                                   English: Barbados        Bridgetown
 3                                     English: Belize          Belmopan
 4                      English: Canada French: Canada            Ottawa
 5       Spanish: Costa Rica — República de Costa Rica          San José
 6                   Spanish: Cuba — República de Cuba            Havana
 7        English: Dominica — Commonwealth of Dominica            Roseau
 8   English: Dominican Republic Spanish: República...     Santo Domingo
 9   English: El Salvador — Republic of El Salvador...      San Salvador
 10                                   English: Grenada      St. George's
 11        Spanish: Guatemala — República de Guatemala    Guatemala City
 12  French: Haïti — République d'Haïti Haitian Cre...    Port-au-Prince
 13          Spanish: Honduras — República de Honduras       Tegucigalpa
 14                                   English: Jamaica          Kingston
 15         Spanish: México — Estados Unidos Mexicanos       Mexico City
 16        Spanish: Nicaragua — República de Nicaragua           Managua
 17  English: Panama — Republic of Panama Spanish: ...       Panama City
 18  English: Saint Kitts and Nevis — Federation of...        Basseterre
 19                               English: Saint Lucia          Castries
 20          English: Saint Vincent and the Grenadines         Kingstown
 21  English: Trinidad and Tobago — Republic of Tri...     Port of Spain
 22                  English: United States of America        Washington

     Population 2021 [7][8]                         Area [9]  \
 0                    93219            442.6 km2 (171 sq mi)
 1                   407906         13,940 km2 (5,382 sq mi)
 2                   281200              431 km2 (166 sq mi)
 3                   400031         22,966 km2 (8,867 sq mi)
 4                 38155012  9,984,670 km2 (3,855,103 sq mi)
 5                  5153957        51,100 km2 (19,730 sq mi)
 6                 11256372       110,860 km2 (42,803 sq mi)
 7                    72412              754 km2 (291 sq mi)
 8                 11117873        48,730 km2 (18,815 sq mi)
 9                  6314167         21,040 km2 (8,124 sq mi)
 10                  124610              344 km2 (133 sq mi)
 11                17608483       108,890 km2 (42,043 sq mi)
 12                11447569        27,750 km2 (10,714 sq mi)
 13                10278345       112,090 km2 (43,278 sq mi)
 14                 2827695         10,991 km2 (4,244 sq mi)
 15               126705138    1,972,550 km2 (761,606 sq mi)
 16                 6850540       129,494 km2 (49,998 sq mi)
 17                 4351267        78,200 km2 (30,193 sq mi)
 18                   47606              261 km2 (101 sq mi)
 19                  179651              616 km2 (238 sq mi)
 20                  104332              389 km2 (150 sq mi)
 21                 1525663          5,128 km2 (1,980 sq mi)
 22               336997624  9,826,630 km2 (3,794,083 sq mi)

                               Currency [3]
 0                    East Caribbean dollar
 1                          Bahamian dollar
 2                         Barbadian dollar
 3                            Belize dollar
 4                          Canadian dollar
 5                        Costa Rican colón
 6        Cuban peso Cuban convertible peso
 7                    East Caribbean dollar
 8                           Dominican peso
 9                     United States dollar
 10                   East Caribbean dollar
 11                      Guatemalan quetzal
 12                          Haitian gourde
 13                        Honduran lempira
 14                         Jamaican dollar
 15                            Mexican peso
 16                      Nicaraguan córdoba
 17  Panamanian balboa United States dollar
 18                   East Caribbean dollar
 19                   East Caribbean dollar
 20                   East Caribbean dollar
 21              Trinidad and Tobago dollar
 22                    United States dollar  ]

In [ ]:
len(df_list)

9

In [ ]:
for i in df_list:
  print(i.shape)
  print(i.head(1))

(23, 8)
   Flag  Map English short, formal names, and ISO [1][2][3][4]  \
0   NaN  NaN                      Antigua and Barbuda[n 1] ATG

  Domestic short and formal name(s) [1][2] Capital [3][5][6]  \
0             English: Antigua and Barbuda        St. John's

   Population 2021 [7][8]               Area [9]           Currency [3]
0                   93219  442.6 km2 (171 sq mi)  East Caribbean dollar
(9, 9)
   Flag English short, formal names, and ISO Domestic short name(s)  \
0   NaN                         Anguilla AIA      English: Anguilla

      Capital  Population 2021                Area               Currency  \
0  The Valley            15753  102 km2 (39 sq mi)  East Caribbean dollar

  Sovereign state                Legal status
0  United Kingdom  British Overseas Territory
(16, 9)
   Flag English short, formal names, and ISO Domestic short name(s)  \
0   NaN           Aruba Country of Aruba ABW           Dutch: Aruba

      Capital  Population 2021                Area       Currency  \
0  Oranjestad           106537  193 km2 (75 sq mi)  Aruban florin

  Sovereign state                                       Legal status
0     Netherlands  Constituent country of the Kingdom of the Neth...
(2, 6)
   Flag    English short name English long name Domestic short name(s)  \
0   NaN  Bajo Nuevo Bank[n 8]   Bajo Nuevo Bank    Spanish: Bajo Nuevo

                          Claimants  \
0  Colombia  Jamaica  United States

                                        Legal status
0  Uninhabited, administered by Colombia, claimed...
(4, 3)
  .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteList of sovereign states and dependent territories in the Americas  \
0  United States and Canada Latin America and the...

  .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteList of sovereign states and dependent territories in the Americas.1  \
0  United States and Canada Latin America and the...

  .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteList of sovereign states and dependent territories in the Americas.2
0  United States and Canada Latin America and the...
(10, 3)
  vteCountries and dependencies of North America  \
0                               Sovereign states

    vteCountries and dependencies of North America.1  \
0  Entire Antigua and Barbuda The Bahamas Barbado...

   vteCountries and dependencies of North America.2
0                                               NaN
(2, 2)
        0                                                  1
0  Entire  Antigua and Barbuda The Bahamas Barbados Beliz...
(6, 2)
         0          1
0  Denmark  Greenland
(4, 2)
  vteList of sovereign states and dependent territories by continent  \
0                                         Continents

  vteList of sovereign states and dependent territories by continent.1
0  Africa Antarctica Asia Europe North America Oc...

In [ ]:
df_list[1].to_html('country2.html')

In [ ]:
df_list[1].to_csv('country.csv')