<a href="https://colab.research.google.com/github/Angepira/AngePira.github.io/blob/main/inicio_taller_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Cargamos el archivo desde link
#El archivo se llama 'employee.xlsx'
url = "https://drive.google.com/file/d/1XGjpiC_jzkYAOPpSbmyD6iHYDVGw3Zsr/view?usp=sharing"
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv(path)
data.head()

   converted group
0          0     B
1          0     B
2          0     A
3          0     B
4          0     A

1. El número de visualizaciones que obtuvieron los anuncios de cada grupo.
2. El número de anuncios convertidos en cada grupo.
3. El ratio de conversión de cada grupo.

In [ ]:
resumen = data['group'].value_counts().to_frame()

In [ ]:
data.groupby('group').group.agg('count').to_frame()

       group
group
A       1030
B        970

In [ ]:
resumen.rename(columns={'group':'total_vistas'},inplace=True)

In [ ]:
resumen

   total_vistas
A          1030
B           970

In [ ]:
data.columns

Index(['converted', 'group'], dtype='object')

In [ ]:
data.groupby(['converted','group']).group.agg('count')[1]

group
A    90
B    21
Name: group, dtype: int64

In [ ]:
resumen['exitosos']